.e{
    background-color: blue;
}
.image-back{
    background-color: rgb(32, 48, 34);
    top: 0px;
}
.cor-de-fundo{
    background-color: rgb(212, 212, 212);
}
.ajuste-cadastro{
    font-size: large;
    font-weight: bolder;
    font-size: 45px;
    
}